In [1]:
import pandas_datareader as web
import datetime as dt

In [2]:
start = dt.datetime(2020, 1, 1)
end = dt.datetime.now()

In [4]:
data = web.DataReader("TSLA", "yahoo", start, end)
data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,28.713333,28.114000,28.299999,28.684000,142981500.0,28.684000
2020-01-03,30.266666,29.128000,29.366667,29.534000,266677500.0,29.534000
2020-01-06,30.104000,29.333332,29.364668,30.102667,151995000.0,30.102667
2020-01-07,31.441999,30.224001,30.760000,31.270666,268231500.0,31.270666
2020-01-08,33.232666,31.215334,31.580000,32.809334,467164500.0,32.809334
...,...,...,...,...,...,...
2022-11-01,237.399994,227.279999,234.050003,227.820007,62688800.0,227.820007
2022-11-02,227.869995,214.820007,226.039993,214.979996,63070300.0,214.979996
2022-11-03,221.199997,210.139999,211.360001,215.309998,56538800.0,215.309998
2022-11-04,223.800003,203.080002,222.600006,207.470001,98453100.0,207.470001
2022-11-07,208.899994,196.683197,208.649994,197.080002,93259764.0,197.080002

In [9]:
data.to_csv("stock_data.csv")